*.o
*.out
test/CMakeCache.txt
test/CMakeFiles/
test/Makefile
test/runTests
test/cmake_install.cmake
euler
html/
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
.ycm_extra_conf.pyc
*.swp
compile_commands.json
