*.plist
*.o
*.out
euler
html/
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
.ycm_extra_conf.pyc
*.swp
compile_commands.json
runTests
test/test[1-9]*.cpp
tags
euler.DSYM
googletest
id_rsa
id_rsa.pub
slow.txt
*.orig
Project.cbp
.idea
